
@{
    Layout = "~/Areas/Admin/Views/Shared/AdminDashboardLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PendingRGriType</title>
</head>
<body>
    <div>
       
        <h2 align="center">Grievance Redressal Portal</h2>
        <hr />
        <h3 align="center">Pending Report Grievance Type</h3>
        <hr />
        <div class="m-portlet m-portlet--tab">

            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">

                        </div>
                    </div>

                </div>

            </div>
            <table align="center" class="table table-striped- table-bordered table-hover table-checkable" border="1">
                <tr>
                    <td>Sr.No</td>
                    <td>Comp.Id</td>
                    <td>Complainants Type</td>
                    <td>Complainants Name</td>
                    <td>Date</td>
                    <td>Subject</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
