
@{
    Layout = "~/Areas/Admin/Views/Shared/ReportLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PendingRGriType</title>
</head>
<body>
    <div>
      
        <h2 align="center">Grievance Redressal Portal</h2>
        <hr />
        <h4 align="center">Pending Report Grievance Type Report</h4>
        <hr />
        <div class="col-xl-auto">

            <!--begin::Portlet-->
            <div class="m-portlet m-portlet--last m-portlet--head-lg m-portlet--responsive-mobile" id="main_portlet">


                <div class="m-portlet m-portlet--mobile">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <b>From Date-</b>&nbsp; @ViewData["Fromdate"] &nbsp;&nbsp;
                                <b>To Date-</b>&nbsp; @ViewData["Todate"]
                            </div>
                        </div>

                    </div>

                </div>
                <table align="center" class="table table-striped- table-bordered table-hover table-checkable" border="1">
                    <tr  align="center">
                        <th>Sr.No</th>
                        <th>Comp.Id</th>
                        <th>Complainants Type</th>
                        <th>Complainants Name</th>
                        <th>Date</th>
                        <th>Subject</th>
                    </tr>
                    <tr  align="center">
                        <td>1</td>
                        <td>209</td>
                        <td>Test Type</td>
                        <td>Test Name</td>
                        <td>8-2-2019</td>
                        <td>No Subject</td>
                    </tr>
                    <tr  align="center">
                        <td>2</td>
                        <td>219</td>
                        <td>Test Type</td>
                        <td>Test Name</td>
                        <td>8-2-2019</td>
                        <td>No Subject</td>
                    </tr>
                    <tr  align="center">
                        <td>3</td>
                        <td>212</td>
                        <td>Test Type</td>
                        <td>Test Name</td>
                        <td>8-2-2019</td>
                        <td>No Subject</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
</body>
</html>
